<%
  const title = "ABOUT";
  const description = "description";
  const path = '/assets/images/';
%>

<% include ../template/_head %>
<% include ../template/_header %>
<main  class="l-main">

</main>
<% include ../template/_footer %>
