<%
  const title = "TOP";
  const description = "description";
  const path = '/assets/images/';
%>

<% include ./template/_head %>
<% include ./template/_header %>
<main  class="l-main">
  <a href="#">linklink</a>
</main>
<% include ./template/_footer %>